

.card {
    transition: all 0.75s;
}

.card.preEnter,
.card.exiting {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}

.card.exited {
    display: none;
}




.mantine-Select-input {
    font-family: "Truculenta",
    sans-serif;
    color: var(--mantine-color-soil-9);
    font-weight: bold;
    }

.mantine-Select-option {
    font-family: "Truculenta",
    sans-serif;
    font-weight: 500;}





